[tool.poetry]
name = "sqla-utils"
version = "0.5.0"
description = "Opinionated utilities for working with SQLAlchemy"
readme = "README.md"
keywords = ["sqlalchemy", "orm"]
authors = ["Sebastian Rittau <srittau@rittau.biz>"]
license = "MIT"
homepage = "https://github.com/srittau/sqla-utils"
repository = "https://github.com/srittau/sqla-utils"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development",
    "Typing :: Typed",
]
include = ["NEWS.md", "*/py.typed"]

[tool.poetry.dependencies]
python = ">= 3.8, < 4"
SQLAlchemy = ">= 1.4, < 3"

[tool.poetry.group.dev.dependencies]
black = "^22.1.0"
flake8 = { version = "^6.0.0", python = ">= 3.8.1" }
isort = "^5.9.2"
mypy = "0.991"
pytest = "*"

[tool.black]
target-version = ["py38"]
line-length = 79

[tool.isort]
profile = "black"
combine_as_imports = true

[tool.pytest.ini_options]
filterwarnings = ["error"]

[tool.mypy]
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
no_implicit_optional = true
no_implicit_reexport = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
