[project]
name = "sqla-utils"
version = "0.7.1.dev"
description = "Opinionated utilities for working with SQLAlchemy"
readme = "README.md"
keywords = ["sqlalchemy", "orm"]
authors = [{ name = "Sebastian Rittau", email = "srittau@rittau.biz" }]
license = "MIT"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development",
    "Typing :: Typed",
]
requires-python = ">= 3.9, < 4"
dependencies = ["SQLAlchemy >= 1.4, < 3"]

[project.urls]
Homepage = "https://github.com/srittau/sqla-utils"
Repository = "https://github.com/srittau/sqla-utils"

[tool.poetry]
include = ["CHANGELOG.md", "*/py.typed"]

[tool.poetry.group.dev.dependencies]
black = "^25.11.0"
flake8 = "^7.0.0"
isort = "^6.1.0"
mypy = "~1.19.0"
pytest = "*"

[tool.black]
target-version = ["py38"]
line-length = 79

[tool.isort]
profile = "black"
combine_as_imports = true

[tool.pytest.ini_options]
filterwarnings = ["error"]

[tool.mypy]
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
no_implicit_optional = true
no_implicit_reexport = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
